table {
    border: thick double gray;
    width: 100%;
}

th:hover {
    background-color: rgb(21, 116, 53);
    color: rgb(255, 255, 255);
}

td:hover {
    background-color: rgb(94, 21, 116);
    color: whitesmoke;
}

tr, th {
    background-color: steelblue;
    color: white;
}

tr, td {
    color: slateblue;
    background-color: white;
}